.M94, .M94 * {
 transition-duration: 1s;
 box-sizing: border-box; 

}
.M94, .reveM94 {
 width: 350px;
 height: 500px;
 backgr-ound: #ffc0cb6e;
 margin: auto;
 position: relative;
 transform-style: preserve-3d;
 perspective: 900px;
}
.reveM94 {
 transform: rotateY(180deg);
}
.M94:hover .reveM94 {
 transform: rotateY(0deg);
}
.baM94.aa{
 transform: translateZ(-1px);
 background: #FFF;
}
.baM94.aa div {
 transform: rotateY(180deg);
 padding: 20px;
}
.baM94.aa div span {
 width: 120px;
 height: 80px;
 transform: rotate(5deg);
 display: block;
 position: relative;
 float: right;
 color: #FFF;
 text-align: right;
 padding: 10px 14px 10px;
 font: bold 12px Montserrat;
 background-position: center;
 background-size: cover;
}
.baM94.aa div span::before {
 content: "";
 border: 6px dotted #FFF;
 width: calc(100% + 4px);
 height: calc(100% + 4px);
 position: absolute;
 top: -2px;
 left: -2px;
}
.baM94.aa div span::after {
 content: "";
 width: calc(100% - 18px);
 height: calc(100% - 18px);
 position: absolute;
 border: 1px solid #FFF;
 left: 9px;
 top: 9px;
}
.baM94.aa div strong {
 font: 12px IBM Plex Mono;
}
.baM94.aa div strong b {
 font-size: 14px;
}
.baM94.aa div img {
 position: absolute;
 mix-blend-mode: multiply;
 width: 120px;
 right: 50px;
 top: 60px;
}
.M94 br {
 display: none;
}
.cubM94 {
 height: 160px;
 overflow: hidden;
 transform-origin: bottom center;
 transform: rotateX(-180deg);
 position: absolute;
 left: 0;
 top: -55px;
 width: 100%;
 backface-visibility: hidden;
 border-radius: 5px;
 transition-property: top, transform, box-shadow;
 transition-delay: 0s, 1s, 1s;
 box-shadow: 0 5px 5px -5px #0009;
}
.cubM94.aa {
 transform: rotateX(-180deg) rotateY(180deg);
}
.M94:hover .cubM94.aa {
 transform: rotateX(1deg) rotateY(180deg);
}
.M94:hover .cubM94 {
 transform: rotateX(1deg);
 top: 75px;
 transition-delay: 0s, 1s, 1s;
 box-shadow: none;
}
.cubM94 div, .botM94 div {
 width: 400px;
 height: 400px;
 transform: rotate(-45deg);
 border: 30px solid #FFF;
 border-radius: 50px;
 position: absolute;
 overflow: hidden;
 background: #FFF;
 top: 70px;
 left: -25px;
 box-shadow: 0 0 5px #0009;
}
.baM94 {
 position: absolute;
 width: 100%;
 background: #FFF;
 top: 105px;
 height: 250px;
 border-radius: 5px;
 box-shadow: -5px 0 5px -5px #0009, 5px 0 5px -5px #0009, 0 5px 5px -5px #0009;
}
.M94:hover .baM94 {
 top: 235px;
}
.botM94 {
 position: relative;
 width: 100%;
 height: 100%;
 border-radius: 5px;
 clip-path: polygon(0 -10px, 100% -10px, 100% 100%, 0% 100%);
}
.botM94 div:nth-of-type(1) {
 top: 64px;
 left: inherit;
 right: -57%;
}
.botM94 div:nth-of-type(2) {
 top: 64px;
 left: -57%;
}
.botM94 div:nth-of-type(3) {
 top: 155px;
 border: none;
}
.notaM94 {
 position: absolute;
 width: calc(100% - 40px);
 height: calc(100% - 40px);
 top: 20px;
 left: 20px;
 box-shadow: 0 0 5px #0009; 
 padding: 20px;
}
.M94:hover .notaM94 {
 transform: translateY(-100%);
 transition-delay: 2s;
}
.notaM94 div {
 font: 12px Montserrat;
 height: 170px;
 overflow: auto;
 text-align: justify;
 padding-right: 5px;
 color: #333;
}
.notaM94 span {
 font: 25px Caveat;
 float: left;
 margin-right: 10px;
 margin: -2px 10px -5px 0;
}
.notaM94 div br, .baM94.aa div strong br {
 display: block; 
 margin: 5px;
}
.cubM94.aa div {
 border: none;
}
.cubM94.aa div span[class*=" th-"], .botM94 div span[class*=" th-"] {
 position: absolute;
 right: -22px;
 top: -23px;
 transform: rotate(-135deg);
 font-size: 80px;
}
.botM94 div span[class*=" th-"] {
 right: 13px;
 top: 14px;
 transform: rotate(45deg);
}
.botM94 div span::after {
 content: "";
 position: absolute;
 background: #FFF;
 width: 100px;
 height: 100px;
 border-radius: 50%;
 top: -55px;
 left: -10px;
}
.notaM94 div a {
 display: block;
 text-align: right;
 font: 22px Caveat;
 transform: rotate(-5deg);
 margin-right: 25px;
}
.notaM94 div a b {
 display: block;
 font-size: 30px;
 line-height: 25px;
 margin-right: -10px;
 transform: rotate(-5deg);
}
.miM94 {
 position: absolute;
 font: 8px Montserrat;
 top: 130px;
 text-transform: uppercase;
 width: 100%;
 text-align: center;
 letter-spacing: 3px;
}
.miM94:hover {
letter-spacing: 5px;
}
