@font-face {
 font-family: 'Hellobello';
 src: url('https://cdn.rawgit.com/EmmesCodes/Tipografias/bff8daa2/Hellobello!.ttf');
}
.WEM {
 width: 350px;
 height: 180px;
 position: relative;
 margin: 60px auto 10px;
 border: 1px solid transparent;
}
.WEM, .WEM *, .WEM: * {
box-sizing: border-box;
}
.WEM img, .WEM b {
 clip-path: polygon(0% 50%, 50% 100%, 100% 50%, 50% 0%);
 position: absolute;
 display: block;
}
.WEM img:nth-of-type(1) {
 width: 200px;
 height: 200px;
}
.WEM img:nth-of-type(2) {
 width: 100px;
 height: 100px;
 top: -30px;
 left: -30px;
}
.WEM img:nth-of-type(3) {
 width: 150px;
 height: 150px;
 left: 125px;
 top: -60px;
}
.WEM b:nth-of-type(1) {
 border: 30px solid;
 top: 138px;
}
.WEM b:nth-of-type(2) {
 border: 15px solid;
 left: 250px;
 top: 32px;
}
.WEM name {
 position: absolute;
 font: 35px Hellobello;
 top: 95px;
 left: 140px;
 z-index: 100;
}
.WEM div {
 position: absolute;
 width: 250px;
 font: 10px arial;
 top: 130px;
 left: 137px;
 text-shadow: none;
 height: 35px;
 padding: 0 5px 0 0;
 clip-path: polygon(40px 0px, 100% 0%, 100% 100%, 2.5% 100%);
}
.WEM div:before{
 content: "";
 display: block;
 width: 45px;
 height: 45px; 
 shape-outside: polygon(0% 0%, 0% 100%, 100% 0%);
 clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
 float: left;
}
.mm {
 font: 8px/15px arial !important;
 display: block;
 text-align: center;
}
